[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "irc"]
	path = irc
	url = https://github.com/minetest-mods/irc.git
[submodule "irc_commands"]
	path = irc_commands
	url = https://github.com/minetest-mods/irc_commands.git
[submodule "mapfix"]
	path = mapfix
	url = https://github.com/minetest-mods/mapfix.git
[submodule "Minetest-WorldEditAdditions"]
	path = Minetest-WorldEditAdditions
	url = https://github.com/sbrl/Minetest-WorldEditAdditions.git
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/minetest-monitoring/monitoring.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2.git
[submodule "liquid_restriction"]
	path = liquid_restriction
	url = https://github.com/wsor4035/liquid_restriction.git
[submodule "ptime"]
	path = ptime
	url = https://github.com/xenonca/ptime.git
[submodule "minetest_tieless_tracks"]
	path = minetest_tieless_tracks
	url = https://github.com/wsor4035/minetest_tieless_tracks.git
[submodule "advtrains_subway_ny"]
	path = advtrains_subway_ny
	url = https://codeberg.org/advtrains_supplemental/advtrains_subway_ny.git
[submodule "classic_coaches"]
	path = classic_coaches
	url = https://github.com/Marnack/classic_coaches.git
[submodule "dlxtrains_modpack"]
	path = dlxtrains_modpack
	url = https://github.com/Marnack/dlxtrains_modpack.git
[submodule "advtrains"]
	path = advtrains
	url = https://git.bananach.space/advtrains.git
